@font-face {
    font-family:'iconfont';
    src:url(./font/iconfont.eot) format("eot"),
        url(./font/iconfont.ttf) format("ttf"),
        url(./font/iconfont.woff) format("woff");
    font-weight:600;
    font-style:normal;
}





*{
    color:green;
    font-family:'iconfont';
}